<h2>Aufführungen verwalten</h2>
<button (click)="navigateToNewAuffuehrung()" class="nav-button">Neue Aufführung hinzufügen</button>
<table>
  <tr>
    <th>Film</th>
    <th>Datum</th>
    <th>Uhrzeit</th>
    <th>Saal</th>
    <th>Aktionen</th>
  </tr>
  <tr *ngFor="let auffuehrung of auffuehrungen">
    <td>{{ auffuehrung.film.titel }}</td>
    <td>{{ auffuehrung.datum }}</td>
    <td>{{ auffuehrung.uhrzeit }}</td>
    <td>{{ auffuehrung.kinosaal.name }}</td>
    <td>
      <button (click)="deleteAuffuehrung(auffuehrung.id)">Löschen</button>
    </td>
  </tr>
</table>
