header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.nav-link {
    color: blue;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #555;
}

.nav-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}
