.not-found {
    text-align: center;
    margin-top: 50px;
}

.not-found h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.not-found p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.not-found .nav-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

.not-found .nav-button:hover {
    background-color: #0056b3;
}
