<div *ngIf="auffuehrung">
  <h2>{{ auffuehrung.film.titel }}</h2>
  <p>Datum: {{ auffuehrung.datum }}</p>
  <p>Uhrzeit: {{ auffuehrung.uhrzeit }}</p>
  <p>Saal: {{ auffuehrung.kinosaal.name }}</p>
  <div class="sitzplaetze">
    <h3>Sitzplätze auswählen</h3>
    <div *ngFor="let reihe of auffuehrung.kinosaal.sitzreihen">
      <h4>Reihe {{ reihe.reihenNummer }}</h4>
      <div *ngFor="let sitzplatz of reihe.sitzplaetze">
        <button (click)="onSitzplatzAuswaehlen(sitzplatz.id)"
                [class.selected]="ausgewaehlteSitze.includes(sitzplatz.id)"
                [disabled]="sitzplatz.status !== 'frei'">
          {{ sitzplatz.nummer }} ({{ sitzplatz.status }})
        </button>
      </div>
    </div>
  </div>
  <button (click)="reservieren()">Reservieren</button>
  <button (click)="buchen()">Buchen</button>
</div>
